body{
    background-image: url(bg.jpg)
}

h1{
    background-color: rgb(15, 139, 139);
    color: azure;
    text-align: center;
    padding: 10 px;
}

table{
    border: 5px solid rgb(71, 71, 71);
    margin: auto;
    background-color: black;
    padding: 10px;
}

input[type="text"]{
    width: 300px;
    padding: 20px;
    background-color: rgb(206, 250, 235);
    font-size: 40px;
    font-weight: bold;
    border: 15px solid black;
}

input[type="button"]{
    width: 100px;
    padding: 20px 20px;
    font-size: 30px;
    font-weight: bold;
    background-color:rgb(206, 190, 245);
    border: 10px solid;
    border-radius: 30px;
}

.blink_me {
    animation: blinker 2s linear infinite;
    background-color: rgb(15, 139, 139);
  }
  @keyframes blinker {
    50% {
        opacity: 0.7;
    }
  }